apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
bases:
  - github.com/argoproj/argo-cd/manifests/namespace-install?ref=v2.8.4
resources:
  - app.yaml
  - ns.yaml
  - project.yaml
patchesStrategicMerge:
  - patch-argocd-repo-server.yaml
  - patch-argocd-cm.yaml
